.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .product { grid-area: 1 / 1 / 2 / 2;
    margin-left: 10px;
    margin-right: 10px;
    
    }

.product input[type=number]{
    width: 150px;
    height:35px
}

    .calculations { 
        
        grid-area: 1 / 2 / 2 / 3;
        font-size: 20px;
        padding:"10px";
        margin-left: 10px;
        margin-right: 10px;
        background: rgb(14,48,75);
        background: radial-gradient(circle, rgba(14,48,75,1) 0%, rgba(3,179,219,1) 80%, rgba(0,212,255,1) 100%);
        
    }

    .calculations input { 
      background-color: green;
        
    }